name: Approve Renovate PRs
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  approve:
    if: github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v1 # v1.11.0
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - uses: hmarr/auto-approve-action@v4 # v4.0.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}

