name: Approve Renovate PRs
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  approve:
    if: github.event.pull_request.user.login == 'renovate[bot]' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: hmarr/auto-approve-action@v4 # v4.0.0
        with:
          github-token: ${{ secrets.AUTO_APPROVE_PAT }}
