name: Approve Renovate PRs
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  approve:
    if: github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: hmarr/auto-approve-action@5d0f8503502941e2233288429155c2513f464a97 # v4.0.0

