name: Approve Renovate PRs
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  approve:
    if: github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: hmarr/auto-approve-action@v4 # v4.0.0
        with:
          github-token: ${{ secrets.AUTO_APPROVE_PAT }}
